<h2>Productos</h2>
<div *ngFor="let product of products">
  <h3>{{ product.name }}</h3>
  <p>{{ product.description }}</p>
  <p>{{ product.price | currency }}</p>
  <button (click)="addToCart(product)">AddToCart</button>
</div>

<h2>Añadir un artículo a la lista:</h2>


  <div>
    <form [formGroup]="productForm">
      <label>
        Nombre:
        <input formControlName="name" />
      </label>
      <label>
        Precio:
        <input formControlName="price" type="number">
      </label>
  
      <label>
        Descripcion:
        <textarea formControlName="description"></textarea>
      </label>
  
      <button (click)="addProduct()">Añadir artículo</button>
    </form>
  </div>
  


<ng-template #emptyCart>
  <p>El carrito está vacío</p>
</ng-template>
